.text-container{
  text-overflow: clip;
  height: 250px;
}

.news-card {
  border: 1px solid #666;
  border-radius: 5px;
  background-color: white;
  margin: 50px auto;
  height: 250px;
  width: 600px;
  box-shadow: 5px 5px #ddd;
}

.news-card img {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin: 15px;
}

.news-card h4{
  margin: 25px auto;
}

.news-card p{
margin: 15px 20px 15px 30px;
text-align: left;
}
