.social-box{
  width: 250px;
height: 120px;
margin: 50px 16.5px;
border-radius: 25px;
background-color: lightgrey;
}

.no-padding{
  padding: 0;
}

.social-box h5{
  margin: 15px;
}

a.social-icon{
  margin: 5px;
  background-color: white;
  border-radius: 25px;
}
